<form [formGroup]="form">
  <div class="form-group">
    <label for="old-password">Old Password</label>
    <input
      id="old-password"
      type="password"
      class="form-control"
      formControlName="old"
    />
    <div *ngIf="old.touched && old.invalid" class="alert alert-danger">
      <div *ngIf="old.errors.required">
        This is mandatory field
      </div>
      <div *ngIf="old.errors.minlength">
        Password length should be minimum {{old.errors.minlength.requiredLength}} characters
      </div>
      <div *ngIf="old.errors.invalidOldPassword">
        Password does not match
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="new-password">New Password</label>
    <input
      id="new-password"
      type="password"
      class="form-control"
      formControlName="newPass"
    />
    <div *ngIf="newPass.touched && newPass.invalid" class="alert alert-danger">
      <div *ngIf="newPass.errors.required">
        This is mandatory field
      </div>
      <div *ngIf="newPass.errors.minlength">
        Password length should be minimum {{newPass.errors.minlength.requiredLength}} characters
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirm-password">Confirm Password</label>
    <input
      id="confirm-password"
      type="password"
      class="form-control"
      formControlName="confirm"
    />
  </div>
  <div *ngIf="confirm.touched && confirm.invalid" class="alert alert-danger">
    <div *ngIf="confirm.errors.required">
      This is mandatory field
    </div>
    <div *ngIf="confirm.errors.minlength">
      Password length should be minimum {{confirm.errors.minlength.requiredLength}} characters
    </div>
  </div>
  <div *ngIf="confirm.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">Passwords do not match.</div>
  <button class="btn btn-primary">Save</button>
</form>
